KMXT_HOST=0.0.0.0
KMXT_PORT=8080
KMXT_STORAGE_DRIVER=mysql
KMXT_SECRET_FILE=/run/secrets/kmxt_root_secret
KMXT_PUBLIC_DIRECTORY=/app/public
KMXT_PUBLIC_BASE_URL=https://kmxt.moluhualuo.top
KMXT_TRUSTED_PROXY_CIDRS=172.28.52.1/32
KMXT_MYSQL_HOST=replace-with-mysql-host
KMXT_MYSQL_PORT=3306
KMXT_MYSQL_USER=kmxt
KMXT_MYSQL_DATABASE=kamxt1
KMXT_MYSQL_PASSWORD_FILE=/run/secrets/kmxt_mysql_password
KMXT_MYSQL_TLS_CA_FILE=/run/secrets/kmxt_mysql_ca
KMXT_MYSQL_POOL_LIMIT=10
KMXT_MYSQL_AUTO_MIGRATE=false
KMXT_REDIS_URL=redis://redis-15499.c290.ap-northeast-1-2.ec2.cloud.redislabs.com:15499
KMXT_REDIS_PASSWORD_FILE=/run/secrets/kmxt_redis_password
KMXT_REDIS_KEY_PREFIX=kmxt:
KMXT_CORS_ORIGIN=https://kmxt.moluhualuo.top
KMXT_PROTOCOL_VERSION=1
KMXT_MODEL_LEASE_TTL_SECONDS=600
KMXT_MODEL_LEASE_MAX_TTL_SECONDS=900
KMXT_MODEL_ARTIFACT_MAX_BYTES=2147483648
